<div class="dashboard">
    <div class="dashboard-nav">
      <header>
        <img src="..\assets\img\logoCompensar.jpg" style="width: 150px" />
      </header>
      <nav class="dashboard-nav-list">
        <a href="#" class="dashboard-nav-item"
          ><i class="fas fa-home"></i> Home
        </a>
        <a href="../autenticacion/menu" class="dashboard-nav-item"
          ><i class="fas fa-tachometer-alt"></i> Profesor
        </a>
        <a href="../autenticacion/lista-alumno" class="dashboard-nav-item active"
          ><i class="fas fa-tachometer-alt"></i> Alumno
        </a>
        <a href="../autenticacion/lista-materia" class="dashboard-nav-item"
          ><i class="fas fa-tachometer-alt"></i> Materia
        </a>
        <div class="nav-item-divider"></div>
        <a href="#" class="dashboard-nav-item"
          ><i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </nav>
    </div>
    <div class="dashboard-app">
      <header class="dashboard-toolbar">
        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
      </header>
      <div class="dashboard-content">
        <div class="container">
          <div class="card">
            <div class="card-header">
              <h1>Crear/Actualizar Alumno</h1>
            </div>
            <div class="card-body">
              <div class="d-flex flex-column">
                <div class="p-2">
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="abrirModal(modalParametriaCrearReporte)"
                    style="background-color: #c46e0d"
                  >
                    Crear Alumno
                  </button>
                </div>
                <div class="p-2">
                  <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                      <tr>
                        <th>Nombre</th>
                        <th>Cedula</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="text-muted mb-0">
                                Brayan Antonio Rojas Torres
                              </p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-muted mb-0">1031183150</p>
                        </td>
                        <td>
                          <p class="text-muted mb-0">barojas@ucompensar.edu.co</p>
                        </td>
                        <td>
                          <p class="text-muted mb-0">3222585907</p>
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-link btn-sm btn-rounded"
                          >
                            Editar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalParametriaCrearReporte let-modal>
    <app-crear-alumno></app-crear-alumno>
  </ng-template>