<div class="d-flex justify-content-center" style="margin-top: 5%">
    <div class="p-2">
      <form>
        <div class="form-outline mb-4">
          <h5>Formulario Alumno</h5>
        </div>
        
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">Nombre</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example2" class="form-control" />
              <label class="form-label" for="form6Example2">Cedula</label>
            </div>
          </div>
        </div>
              
        <div class="form-outline mb-4">
          <input type="email" id="form6Example5" class="form-control" />
          <label class="form-label" for="form6Example5">Correo</label>
        </div>
  
        <div class="form-outline mb-4">
          <input type="number" id="form6Example6" class="form-control" />
          <label class="form-label" for="form6Example6">Telefono</label>
        </div>
        
        <button type="submit" class="btn btn-primary btn-block mb-4" style="background-color: #c46e0d;">
          Guardar
        </button>
      </form>
    </div>
  </div>
  